# MTK project .rc configure

import init.${ro.hardware}.usb.rc

on init

on post-fs-data

#
# Connectivity related device nodes & configuration (begin)
#

#Camera
    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF

	chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    chown wifi wifi /data/misc/wifi

#Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1

#Disable for one Single loader
# Load WiFi Driver
#   insmod /system/lib/modules/wlan_mt.ko


#
# Connectivity related device nodes & configuration (end)
#

#    chmod 0660 /dev/spm
#    chown system system /dev/spm

on init

#
# Connectivity related services (Begin)
#

service atci_service /system/bin/atci_service
	socket atci-service stream 660 radio system
	socket atci-serv-fw stream 660 radio system
	user root
        disabled
	group radio system
service atcid-daemon-u /system/bin/atcid
	user system
	group radio system media
	disabled
	oneshot

service atcid-daemon-e /system/bin/atcid
	user root
	group radio system
	disabled
	oneshot

on early_property:ro.build.type=eng
start atci_service
start atcid-daemon-e
service audio-daemon /system/bin/audiocmdservice_atci
    class main
    socket atci-audio stream 660 media system
    user media
    group radio media system sdcard_rw
    disabled
    oneshot

service wmtLoader /system/bin/wmt_loader
    user root
   group root
   class core
    oneshot


service conn_launcher /system/bin/6620_launcher -p /system/etc/firmware/
    user system
   group system
    class core

#
# Connectivity related services (End)
#

service spm_script /system/bin/spm_loader
    user root
    group root
    class core
    oneshot

